---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ContentSection from "../components/ContentSection.astro";
import ContentSectionInner from "../components/ContentSectionInner.astro";
import OutlinedButton from "../components/OutlinedButton.astro";
import H1ContentSection from "../components/H1ContentSection.astro";
import NavigationBar from "../components/NavigationBar.astro";
---

<DefaultLayout title="Tyler Hampton", subtitle="Software Developer, Product Management Expert, & Computer Science Enthusiast">
    <div slot="experience-slot">
        <ContentSection title="Product Management">
            <ContentSectionInner title="Test Inner Content Section" bodyCopy="Test Body Copy">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
            
            <ContentSectionInner title="Test Inner Content Section" bodyCopy="Test Body Copy">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
        </ContentSection>
    </div>

    <div slot="projects-slot">
        <!-- JAVA -->
        <ContentSection title="Java">
            <ContentSectionInner title="Appointment Scheduler Application with MySQL Database" bodyCopy="Test Body Copy">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
            <ContentSectionInner title="Inventory Management Desktop Application" bodyCopy="Test Body Copy">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
        </ContentSection>

        <!-- PYTHON -->
        <ContentSection title="Python">
            <ContentSectionInner title="Delivery Route Alogithm" bodyCopy="Desktop application to manage appointments. Utilizes MySQL JDBC for CRUD uperations. Logic to handle business hours, reject duplicate appointments, and other scheduling operations implemented.">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
            <ContentSectionInner title="Flask API" bodyCopy="This Flask backend API takes JSON (representing various heart disease symptoms/indicators) from a POST request and runs it through a Machine Learning Model capable of predicting the presence of Coronary Heart Disease within the next 10 years."/>
            <ContentSectionInner title="Logistic Regression Machine Learning Model" bodyCopy="Utlizing Pandas, SciKit-Learn, Numpy, "/>
        </ContentSection>

        <!-- FLUTTER -->
        <ContentSection title="Flutter / Dart">
            <ContentSectionInner title="St Anna GOC App" bodyCopy="A mobile application built for a local church with a Flutter/Dart frontend and Firebase backend.">
                <OutlinedButton buttonCTA="View More" href=""/>
            </ContentSectionInner>
        </ContentSection>

        <!-- HTML/CSS/JS -->
        <ContentSection title="HTML / CSS / Javascript">
            <ContentSectionInner title="Heart Disease Prediction Full Stack Application" bodyCopy="Lorem Ipsum">
                <OutlinedButton buttonCTA="View More" href="#"/>
            </ContentSectionInner>
        </ContentSection>

    </div>
</DefaultLayout>