---
import ContentSectionInner from '../components/ContentSectionInner.astro';

interface Props {
    title: string;
}

const {title} = Astro.props;
---

<section>
    <div class="container">
        <div>
            <h2>
                {title}
            </h2>
            <hr>
        </div>

        <div class="inner-container">
            
            <slot />
        </div>
    </div>
</section>

<style>
    section {
        text-align: center;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        
    }

    h2 {
        /* margin: 2rem; */
        margin: 0;
        font-size: 3em;
        text-wrap: wrap;
        word-break: normal;
        font-family: "DM Serif Display", serif;
        color: #495b4c;
    }

    hr {
        width: 100%;
        background-color: #495b4c;
        height: 2px;
    }

    .container {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
  
    }

    .inner-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    p {
        font-size: 16pt;
        line-height: 1.5;
    }

    @media all and (max-width: 600px) {
        h2 {
            font-size: 2.5rem;
        }

        section {
            max-width: 100%;
        }

        .container {
            flex-direction: column;
            gap: 0;
        }

        .inner-container {
            padding-bottom: 0rem;
            flex-direction: column;
        }
    
    }

</style>