---

---

<div id="navigation-bar">
    <a class="navigation-link" href="#projects">Projects</a>
    <a class="navigation-link" href="#experience">Experience</a>
            <!-- <a class="navigation-link" href="/">About</a> -->
</div>

<style>
    #navigation-bar {
        font-family: "DM Serif Display", serif;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        font-family: "DM Sans", sans-serif;
        background-color: white;
        box-shadow: 0px 2px 16px #444b6e;
        height: 64px;
    }

    /* anchor links in navbar */
    #navigation-bar a {
        min-width: 12ch;
        font-family: "DM Serif Display", serif;
        float: right;
        color: #444b6e;
        text-align: center;
        align-self: center;
        border: 2pt solid transparent;
        border-radius: 100vw;
        font-size: 1.5em;
        text-decoration: none;
        margin: 0px 3px;
    }

    #navigation-bar a:hover {
        border: 2pt solid #444b6e;
        border-radius: 100vw;
        transition-duration: 0.5s;
    }

    @media all and (max-width: 800px) {
        .navigation-bar {
            justify-content: space-around;
        }
    }

    /* small screens */
    @media all and (max-width: 600px) {

        .navigation-bar {
            justify-content: space-around;
        }

    }

</style>